.logo {
    border-radius: 50%;
    min-height: 20%;
    
}

body {
  padding-top: 80px;
}

#neubar {
    background: #fae8d2;
    box-shadow: 4px 6px 12px rgba(240, 193, 122, 0.897)
  }
  
  #neubar .dropdown-menu a:hover {
    color: #454545
  }
  #neubar .nav-item {
    margin : auto 4px;
  }
  #neubar a {
  
    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {
    background : #545454
  }
  a.navbar-brand {
    color: #454545
  }
  
  .nav-item .nav-link:hover {
    background-color: #f1cd7d;
  }

.ppl {
  
  background-image: url(Assets/principal\ 2.jpg);
  background-position: absolute;
  background-size: cover;

}

.title h1 {
  font-family: 'Sedgwick Ave Display';
  font-size: 80px;
  transform:rotate(-10deg);
  color:#000000ec;
  text-shadow: 2px 2px 2px #ecec40;
}

.title h3 {
  font-family: 'Permanent Marker';
  font-size: 30px;
  color: #000000e5;
  text-shadow: 1px 1px 1px #e60000;
}

.subtitle h3 {
  font-family:'Kanit', sans-serif;
  font-size: 40px;
  font-style: oblique;
  color: #e60000;
  text-shadow: 2px 2px 2px #ecec40;
}

.subtitle h5 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-style: italic;
  color:rgb(74, 78, 82);
}

#contcard {
  background-color: #0f105e2d;
  background-image: url(assets/carta\ bebidas.jpg);
}  

.card-colu {
  background-color: #9999996b;
}

.card {
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 60px;

}


footer {
  background-color: #f8d8b0;
  box-shadow: 8px 10px 12px rgba(167, 110, 26, 0.897)
  text-align: center;
}



@media screen and (min-width: 360px) and (max-width: 767px) {
  .ppl .img2,
  .ppl .img3 {
    display: none;
  }
}