.logo {
    border-radius: 50%;
    min-height: 20%;
}

body {
  padding-top: 80px;
}

#neubar {
    background: #a5a4a4;
    box-shadow: 4px 6px 12px rgba(53, 53, 52, 0.897)
  }
  
  #neubar .dropdown-menu a:hover {
    color: #454545
  }
  #neubar .nav-item {
    margin : auto 4px;
  }
  #neubar a {
  
    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {
    background : #7a7a7a
  }
  a.navbar-brand {
    color: #838383
  }
  
  .nav-item .nav-link:hover {
    background-color: #f1cd7d;
    border-radius: 30px;
  }

.ppl {
  
  background-image: url(Assets/principal\ 2.jpg);
  background-position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
.canchas-cont{
  background-color: #e0e0e0;
}
.img-canchas{
  border-radius: 30px;
  box-shadow: 5px 5px 10px lightgray;
}

.title h1 {
  font-family: 'Sedgwick Ave Display';
  font-size: 8rem;
  transform:rotate(-10deg);
  color:#000000;
  text-shadow: 2px 2px 2px #e6e693;
}

.title h3 {
  font-family: 'Permanent Marker';
  font-size: 4rem;
  color: #000000e5;
  text-shadow: 1px 1px 1px #f5f5c3;
}

.subtitle h3 {
  font-family:'Kanit', sans-serif;
  font-size: 40px;
  font-style: oblique;
  color: #000000;
  text-shadow: 2px 2px 2px #ebdab7;
}

.subtitle h5 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-style: italic;
  color:rgb(74, 78, 82);
}

.copa h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#080807;
  text-shadow:2px 2px 2px dimgray;
}

#contcard {
  background-color: #0f105e2d;
  background-image: url(assets/carta\ bebidas.jpg);
    
}  

.card-colu {
  background-color: #9999996b;
}

.card {
  box-shadow: 5px 5px 10px lightgray;
}


footer {
  background-color:#a5a4a4;
  box-shadow: 8px 10px 12px rgba(167, 110, 26, 0.897)
}


@media screen and (min-width: 360px) and (max-width: 767px){
.ppl .img2{ display: none}
}

@media screen and (min-width: 360px) and (max-width: 767px) {
.ppl .img1{
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .title h1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .title h1 {
    font-size: 5rem;
  }
}

@media (max-width: 576px) {
  .title h1 {
    font-size: 4rem;
  }
}

@media (max-width: 375px) {
  .title h1 {
    font-size: 3rem;
  }
}
@media (max-width: 1200px) {
  .title h3 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .title h3 {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .title h3 {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .title h3 {
    font-size: 2rem;
  }
}